@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

a {
    font-size: 24px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar {
    background-color: blue;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5rem;
}

.header {
    background-color: rgb(255, 0, 98);
    grid-row: 1 / 2;
    display: grid;
    grid-template-rows: 1fr 2fr;
}

.main-content {
    background-color: rgb(228, 228, 228);
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0px 250px 32px 32px;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
    gap: 16px;
}

.settings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 24px;
    gap: 16px;
}

.logo {
    height: 50px;
}

.logo p {
    font-size: 2.5rem;
    font-weight: 800;
    text-decoration: none;
    color: white;
    padding: 24px;
}

.header-top {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.header-bottom {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.searchbar,
.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 3rem;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.your-projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-rows: 1fr 10fr;
    grid-template-columns: 1fr;
}

.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 32px;
    padding-right: 32px;
}

.your-projects p {
    grid-column: 1 / 3;
    display: flex;
    justify-content: flex-start;
    padding-top: 32px;
}

.card {
    background-color: white;
    border-radius: 8px;
}

.ann-container {
    display: grid;
    grid-template-rows: 1fr 7fr;
    padding-bottom: 16px;
    padding-top: 24px;
}

.announcement {
    background-color: white;
    border-radius: 8px;
    margin-right: 42px;
}

.ann-container p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.trend-container {
    display: grid;
    grid-template-rows: 1fr 7fr;
}

.trending {
    background-color: white;
    border-radius: 8px;
    margin-right: 42px;
}

.trend-container p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ann-container p,
.trend-container p,
.your-projects p {
    font-size: 20px;
}